@font-face {
	font-family: Reg-SpaceGrotesk;
	src: url(Fonts/WorkSans-Regular.woff2);
}

@font-face{
	font-family: Bold-SpaceGrotesk;
	src: url(Fonts/WorkSans-ExtraBold.woff2);
}

@font-face{
	font-family: Bold-Italic;
	src: url(Fonts/WorkSans-ExtraBoldItalic.woff2);
}

@font-face{
	font-family: f-Italic;
	src: url(Fonts/WorkSans-Italic.woff2);
}

@font-face{
	font-family: cm-Italic;
	src: url(Fonts/cmunci.ttf);
}

@font-face{
	font-family: hairline;
	src: url(Fonts/WorkSans-Light.woff2);
}

@font-face{
	font-family: wonk;
	src: url(Fonts/Fraunces[SOFT,WONK,opsz,wght].woff2);
}

@font-face{
	font-family: reg;
	src: url(Fonts/WorkSans-Regular.woff2);
}

body::-webkit-scrollbar {
  display: none;
}


html {
	height: 100%;
	background-color: #f0f5f5;
}

h1 {
  font-family: reg;
  font-size: clamp(32px, 3.05vw, 3.05vw);
  margin: 0 0 0 0;
  height: clamp(64px, 5.9vw, 5.9vw);
  line-height: clamp(26px, 2.5vw, 2.5vw);
} 

h1 a {
  color: #000;
  text-decoration: none;
  
/*  padding: 6px;
  border: 2px solid #000000;*/
}

h1 a:hover {
  /*text-decoration: underline;*/
  
}

h2 {
    font-family: Reg-SpaceGrotesk;
    font-size: clamp(12px,1.4vw, 1.4vw);
    margin: 0 0 0 0;
    height: clamp(16px, 4.5vw, 4.5vw);
	line-height: clamp(12px, 1.5vw, 1.5vw);

/*  margin-left: 20px;*/
}

h2 a {
	color: #000;
	text-decoration: none;
}

h2 a:hover {
	color: #000;
	/*text-decoration: none;*/
	font-family: f-Italic;
	
}


body {
  min-height: 100%;
  position: relative;
  margin: 2.672vw;
  display:flex; 
  flex-direction:column; 
  justify-content:center;
  
}

p {
  font-family: Reg-SpaceGrotesk;
  font-size: clamp(14px, 1.002vw,1.002vw);
  line-height: clamp(20px, 1.47vw, 1.47vw);
  padding-bottom: 0.668vw;
}

.content2 {
    width: 950px;
    height: 540px;
    overflow: scroll;
    margin: 0 auto;
	
}

.content {

  width: clamp(675px,58%, 58%);
  /*height: 25.251%;*/
  justify-content:center;
  /*position: relative;*/
  margin: 0 auto;
}

.content :nth-child(1) { order: 1; }
.content :nth-child(2) { order: 2; }

.content::-webkit-scrollbar {
  display: none;
}

.card { 
	margin: 1em;
	border: 3px solid;
	border-color: black;
	padding: 1em;
	width: 90px; 
	height: 120px; 
	line-height: 1;
	text-align: center;
	background: white; 
}

button {
	background-color: #1DB4F5;
	border: 2px solid;
	border-color: #005581;
	color: black;
	font-family: Avenir Next;
	padding: 5px 5px;
	margin: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
}
button:hover{
	background-color: #72CDF4;
}


@media only screen and (max-width: 620px) {
  .content {
    width: 85%;
	flex-direction: column;
  }
  
  .details p {
    margin: 0;
    font-size: 12px;
    text-align: justify;
	line-height: 18px;
  
  }
  
  .figure {
	  width: 302px;
	 
  }
}

.content p {
  margin: 0;
  text-align: justify;
  
}

.content p a {
	color: #000;
	text-decoration: none;
	font-family: hairline;
	border:solid;
	border-width:0.067vw;
	padding:0.084vw;
	border-radius:0.334vw;
}

.content p a:hover {
	background-color:#000;
	color: #f0f5f5;
	text-decoration: none;
	font-family: hairline;
	border:solid;
	border-width:0.67vw;
	padding:0.084vw;
	border-radius:0.334vw;
}


.banner {
  position: absolute;
  float: left;
  width: clamp(200px, 18.5vw,18.5vw);
  height: clamp(100px, 10.75vw, 10.75vw);
  /*padding-bottom: 28px;*/
  top:0;
  left:0;

}

.lsbottom {
	position: absolute;
	float: left;
	width: 20.374vw;
	/*height: 8.717vw;*/
	bottom:20px;
	left:0;
	/*margin-bottom: 40px;*/

}

.nav {
	position: absolute;
    float: right;
    width: clamp(95px, 9vw, 9vw);
	height: clamp(100px, 9.5vw, 9.5vw);
	top:0;
	right:0;
	
}

.section-content {
  margin: 0 auto;
  width: clamp(675px,100%, 100%);
  height: fit-content;
  display; flex;
  flex-direction:row; 
  
}

.section-content p a {
	color: #000;
	text-decoration: none;
	font-family: hairline;
	border:solid;
	border-width:0.067vw;
	padding:0.084vw;
	border-radius:0.334vw;
}

.section-content p a:hover {
	background-color:#000;
	color: #f0f5f5;
	text-decoration: none;
	font-family: hairline;
	border:solid;
	border-width:0.067vw;
	padding:0.084vw;
	border-radius:0.334vw;
}

.left {
	order: 0;
	width: 60%;

}

.right {
	order: 1;
	width: 40%;
}

.details {
  /*margin: 20px;*/
  /*float: left;*/
  
  font-size: clamp(18px, 1.069vw,1.069vw);
/*  width: 65%;*/

}

.details p {
  margin: 0;
  font-size: clamp(18px, 1.069vw,1.069vw)
  text-align: justify;
  
}

.details p a {
	color: #000;
	text-decoration: none;
	font-family: hairline;
	border:solid;
	border-width:0.067vw;
	padding:0.084vw;
	border-radius:0.334vw;
}

.details p a:hover {
	background-color:#000;
	color: #f0f5f5;
	text-decoration: none;
	font-family: hairline;
	border:solid;
	border-width:0.067vw;
	padding:0.084vw;
	border-radius:0.334vw;
}

.details2 {
  /*margin: 20px;*/
  float: right;
  font-size: 1.069vw;
  width: 65%;
  margin-left: 0;
}

.details2 p {
  margin: 0;
  text-align: justify;
  
}

.details2 p a {
	color: #000;
	text-decoration: none;
	font-family: hairline;
	border:solid;
	border-width:0.067vw;
	padding:0.084vw;
	border-radius:0.334vw;
}

.details2 p a:hover {
	background-color:#000;
	color: #f0f5f5;
	text-decoration: none;
	font-family: hairline;
	border:solid;
	border-width:0.067vw;
	padding:0.084vw;
	border-radius:0.334vw;
}


.left-image {
  width: 350px;
  float: left;
  font-size: 12px;
  text-align: left;
}

.left-image img {
  width: 300px;
  float:left;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
}


.right-image {
  /*width: 350px;*/
  float: right;
  font-size: 12px;
  text-align: left;
}

.right-image img {
  /*width: 300px;*/
  float:right;
  /*padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 20px;*/
}



.figure {
  float: right;
  width: 45%;
  height: 35%;
  text-align: right;
  font-family: cm-Italic;
  font-size: 12px;
  text-indent: 2px;
  line-height: 20px;
  padding-top: 0px;
  
}

.topfigure {
  float: right;
  width: 225px;
  text-align: right;
  font-family: cm-Italic;
  font-size: 12px;
  text-indent: 2px;
  line-height: 20px;
  padding-bottom: 15px;
  
}



.footer {
  font-size: 12px;
  text-align: left;
}

h2 img {
  width: 775px;
  margin: 0 20px 20px 20px;
}

ul, ol {
	font-family: reg;
	font-size: clamp(20px, 2.138vw, 2.138vw);
	list-style: none;
	line-height: clamp(24px, 2.35vw, 2.35vw);
	width: clamp(95px, 9vw, 9vw);
	padding:0px;


}

ul li {
	font-family: reg;
	font-size: clamp(21px, 2.004vw, 2.004vw);
	text-align: right;
	margin: 0px;
	padding: 0px;

 
}

nav {
	font-family: reg;
	font-size: clamp(21px, 2.004vw, 2.004vw);
  display: block ;
  text-align: right;

  
}

nav ul {
  list-style: none;
  font-size: 0;
}

nav li {
  display: block;
  text-align: right;

}

nav li:first-child a {
  
}

nav a {
  color: black;
  font-size: clamp(21px, 2.004vw, 2.004vw);
  text-decoration: none;
  display: block ;
}



li a:hover {
	/*color: hsl(30deg 82% 43%);*/
	/*text-decoration: underline;*/
	font-family: f-Italic;
/*	text-decoration-color: #00458c;*/
}