
@font-face{
	font-family: main;
	src: url(font/Ronzino-Regular.otf);
}

* {
  box-sizing:border-box
}

.body_content::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and newer Edge */
}

html, body {
    height: 100%;
	margin: 0;
	padding: 6px;
	font-family: main;
}

.layout {
  height: 100%;
  width: 100%;

  display: grid;
  grid:
      "header header head_right" minmax(min-content, max-content)
      "footer body body" 65%
      "footer body body" 23%
      / 35% 50% 15%;
  gap: 0;
}

a {
	color: #000;
	text-decoration: none;
	border:solid white;
	border-width:1px;
	padding: 0;
	border-radius:5px;
	background: transparent;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}

a:hover {
	color: #000;
	text-decoration: none;
	border:solid;
	border-width:1px;
	padding: 0;
	border-radius:5px;
	background: transparent;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}

table, th, td {
	padding: 0;
}

h1 {
	font-size: 16pt;
	font-weight: normal;
	margin: 0; 
}


h2 {
	font-size: 12pt;
	margin: 0;
	padding: 0;
}

p {
	font-size: 12pt;
	font-weight: normal;
	margin: 0 0 10px 0;
	padding: 0;
}


/* Header */

header{
/*	background-color: lightblue;
*/	grid-area: header;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: flex-start;
}

/* Nav Bar*/

nav{
	grid-area: head_right;
/*	background-color: lightblue;
*/	text-align: right;
	display: flex;
	align-items: flex-start;
	justify-content: right;
	font-size: 12pt;
}

nav ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav li {
	text-align: right;
	padding: 1px 0px;
}

/* Body */

.body_content{
	grid-area:body;
/*	background-color: green;
*/	padding: 12px 0 0 12px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: left;
	overflow: auto;
	scrollbar-width: none; 
	-ms-overflow-style: none;

}

.body_content h2 {
	font-size: 12pt;
	font-weight: normal;
	margin: 0 0 10px 0;
	padding: 0;
}

.body_wrap{
	display: inline-block;
	justify-content: unset;
	margin: 0;
	padding: 0;
}

#headshot {
	width: 155px; 
	padding: 0 0 0 10px; 
	float:right;
}

/* Footer */

footer{
	grid-area: footer;
/*	background-color: yellow;
*/	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: flex-end;
}

/* Media Screen Formatting for Mobile */

@media screen and (max-width: 800px) {
	
	.layout {
	  height: 100%;
	  width: 100%;

	  display: grid;
	  grid:
	      "header header head_right" minmax(min-content, max-content)
	      "body body body" calc(100% - 212px)
	      "footer footer footer" minmax(min-content, max-content)
	      / 25% 50% 25%;
	  gap: 0;
	}
	
	.body_content {
		grid-area:body;
		padding: 12px 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: left;
		overflow: auto;
		scrollbar-width: none; 
		-ms-overflow-style: none;
	}
	
}






